<div class="container">
    <div class="row">
        <ng-container *ngFor="let category of categories; index as i">
            <div class="col-3 m-3">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div class="card">
                    <!-- <img class="card-img-top" src="https://t3.ftcdn.net/jpg/02/94/62/04/360_F_294620414_w1BjP6PlTBfUBrJxFLAT6CylGerWJgy5.jpg" alt="Card image cap"> -->
                    <img class="card-img-top" src="{{ category.categoryPhotos[0].securedURL }}" alt="Card image cap">
                    <div class="card-body">
                    <!-- <div class="card-body" style="background-color: red;"> -->
                        <h5 class="card-title">{{ category.categoryName }}</h5>
                        <p class="card-text">{{ category.categoryDescription }}</p>
                        <a [routerLink]="['/category-details']" [queryParams]="{ id: category.categoryId }" class="btn btn-success">More details......</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-3 m-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://t3.ftcdn.net/jpg/02/94/62/04/360_F_294620414_w1BjP6PlTBfUBrJxFLAT6CylGerWJgy5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Category Name</h5>
                    <p class="card-text">Category Description</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>

         <div class="col-3 m-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://t3.ftcdn.net/jpg/02/94/62/04/360_F_294620414_w1BjP6PlTBfUBrJxFLAT6CylGerWJgy5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Category Name</h5>
                    <p class="card-text">Category Description</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>

         <div class="col-3 m-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://t3.ftcdn.net/jpg/02/94/62/04/360_F_294620414_w1BjP6PlTBfUBrJxFLAT6CylGerWJgy5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Category Name</h5>
                    <p class="card-text">Category Description</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>

         <div class="col-3 m-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://t3.ftcdn.net/jpg/02/94/62/04/360_F_294620414_w1BjP6PlTBfUBrJxFLAT6CylGerWJgy5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Category Name</h5>
                    <p class="card-text">Category Description</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div> -->