<!-- Footer -->
<!-- <footer class="page-footer bg-dark text-white font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="h4" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer> -->
<!-- Footer -->

<footer class="fixed-bottam bg-dark text-white p-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col link-light">
                <a class="link-light m-2 h5" href="#"><i class="fa fa-facebook"></i></a>
                <a class="link-light m-2 h5" href="#"><i class="fa fa-twitter"></i></a>
                <a class="link-light m-2 h5" href="#"><i class="fa fa-snapchat"></i></a>
                <a class="link-light m-2 h5" href="#"><i class="fa fa-instagram"></i></a>
                <a class="link-light m-2 h5" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <p class="copyright">All rights reserved by xyz.com © 2022</p>
    </div>
</footer>

    <!-- <div class="footer-dark text-white">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-snapchat"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <p class="copyright">All rights reserved by xyz.com © 2022</p>
            </div>
        </footer>
    </div> -->

